<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
df = pd.read_csv('./Orders.csv')
df

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [38]:
# your code here
agg_amounts = df[["amount_spent", "CustomerID"]].groupby("CustomerID").sum()
p95 = agg_amounts.quantile(0.95)[0]
p75 = agg_amounts.quantile(0.75)[0]
vips = agg_amounts[agg_amounts["amount_spent"] > p95]
preferred = agg_amounts[(agg_amounts["amount_spent"] > p75) & (agg_amounts["amount_spent"] <= p95)]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [43]:
# your code here
# Countries with the most VIPs:
vips.merge(df[["CustomerID", "Country"]], on="CustomerID").groupby("Country").count().sort_values("amount_spent", ascending=False)

                 CustomerID  amount_spent
Country
United Kingdom        84185         84185
EIRE                   7077          7077
France                 3290          3290
Germany                3127          3127
Netherlands            2080          2080
Australia               898           898
Portugal                681           681
Switzerland             594           594
Spain                   511           511
Norway                  420           420
Channel Islands         364           364
Finland                 294           294
Cyprus                  248           248
Singapore               222           222
Japan                   205           205
Sweden                  198           198
Belgium                  54            54
Denmark                  36            36

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [44]:
# your code here
preferred.merge(df[["CustomerID", "Country"]], on="CustomerID").groupby("Country").count().sort_values("amount_spent", ascending=False)

                 CustomerID  amount_spent
Country
United Kingdom       137450        137450
Germany                4222          4222
France                 3011          3011
Belgium                1503          1503
Spain                  1058          1058
Switzerland             776           776
Norway                  608           608
Italy                   507           507
Portugal                412           412
Channel Islands         225           225
Israel                  214           214
Finland                 210           210
Cyprus                  203           203
Iceland                 182           182
Denmark                 181           181
EIRE                    161           161
Austria                 158           158
Poland                  149           149
Canada                  135           135
Australia               130           130
Sweden                   75            75
Japan                    67            67
Malta                    67            67
Lebanon                  45            45
Greece                   32            32